$black:   #1f1f1f;
$grey-0:  #999;
$grey-1:  #ccc;
$grey-2:  #f0f0f0;
$grey-3:  #f5f5f5;
$white:   #fff;

$info:    #57c5ff;
$success: #87db7e;
$warning: #ff874e;
$danger:  #ff423c;

$box-shadow-card: 0 2px 6px rgba(0,0,0,0.1);

*, *::after, *::before {
  box-sizing: border-box;
}