.sv-button {
  display: inline-block;
  border: 1px solid $grey-1;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  color: $black;
  transition: 0.3s;
  -webkit-appearance: none;
  outline: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: $grey-0;
    box-shadow: 0 0 3px 1px $grey-1;
  }

  &:active {
    background-color: $grey-3;
    box-shadow: 0 0 2px 1px $grey-2;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    color: $grey-1;
    background-color: $grey-2;
    border-color: $grey-1;
    box-shadow: none;
    cursor: not-allowed;
  }

  &__small {
    font-size: 14px;
    padding: 5px 8px;
  }

  &__mini {
    font-size: 12px;
    padding: 3px 5px;
  }

  &__info {
    color: $info;
    border-color: $info;
    background-color: rgba($info, 0.1);
    &:hover {
      border-color: $info;
      box-shadow: 0 0 3px 1px rgba($info, 0.4);
    }
    &.plain {
      &:hover {
        box-shadow: none;
        background-color: rgba($info, 0.7);
      }
      &:active {
        background-color: $info;
      }
    }
  }
  &__success {
    color: $success;
    border-color: $success;
    background-color: rgba($success, 0.1);
    &:hover {
      border-color: $success;
      box-shadow: 0 0 3px 1px rgba($success, 0.4);
    }
    &.plain {
      &:hover {
        box-shadow: none;
        background-color: rgba($success, 0.7);
      }
      &:active {
        background-color: $success;
      }
    }
  }
  &__warning {
    color: $warning;
    border-color: $warning;
    background-color: rgba($warning, 0.1);
    &:hover {
      border-color: $warning;
      box-shadow: 0 0 3px 1px rgba($warning, 0.4);
    }
    &.plain {
      &:hover {
        box-shadow: none;
        background-color: rgba($warning, 0.7);
      }
      &:active {
        background-color: $warning;
      }
    }
  }
  &__danger {
    color: $danger;
    border-color: $danger;
    background-color: rgba($danger, 0.1);
    &:hover {
      border-color: $danger;
      box-shadow: 0 0 3px 1px rgba($danger, 0.4);
    }
    &.plain {
      &:hover {
        box-shadow: none;
        background-color: rgba($danger, 0.7);
      }
      &:active {
        background-color: $danger;
      }
    }
  }

  &.plain {
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    border: none;
    background-color: transparent;
    color: $black;
    transition: 0.5s;
  }
}
